body {
  margin: 0;
}

.navbar-nav{
  position: absolute;
  width: auto 0px;
  height: 64px;
  left: 50px;
  top: 50px;
  margin: initial;
}

.logo{
  position: right;
  left: 85%;
  right: 5%;
  top: 5%;
  bottom: 5%;
}

header {
  background-color: white;
  padding: 10px;
}

header ul {
  float: right;
  color: white;
}

header li {
  display: inline-block;
  padding: 0px 15px;
}

header p {
  display: inline-block;
  font-family: "Raleway script=latin";
  font-weight: 50;
  font-style: normal;
  line-height: 50;
}

.heroImg {
  background-color: #EBEBEB;
  padding: 20px 300px;
  align-self: stretch;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "Mockup1 Work1"
  "Work2 Mockup2"
  "Mockup3 Work3"
}

.Mockup1 { 
  grid-area: Mockup1;
  justify-self: center;
  align-self: center;
}

.Mockup2 { 
  grid-area: Mockup2;  
  justify-self: center;
  align-self: center;
}

.Mockup3 { 
  grid-area: Mockup3; 
  justify-self: center;
  align-self: center;
}

.Work1 { 
  grid-area: Work1; 
  justify-self: center;
  align-self: center;
}

.Work2 { 
  grid-area: Work2; 
  justify-self: center;
  align-self: center;
}

.Work3 {
  grid-area: Work3;
  justify-self: center;
  align-self: center;
}

.sectionHeading{
  text-align: center;
}

* {
  box-sizing: border-box;
}

#mySkills-container {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch; 
}

#mySkills-container > h1 {
  width: 100%;
  flex-basis: 100%;
  align-self: flex-start;
  text-align: center;
}
  
.skill-item {
  position: relative;
  border: grey 5px;
  width: 25%;
  max-width: 600px;
  min-height: max-content;
  margin: 2% 3%;
}
  
.skill-item > img { 
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: baseline;
}
  
.skill-item > h2,p {
  text-align: center;
}
  
@media only screen and (max-width: 640px) {
  .skill-item {
  flex-direction: column;
  width: 100%;
  }
}

button {
padding: 5px;
background-color: #373738;
color: white;
border-radius: 4px;
}

footer {
background-color: white;
padding: 5px;
color: black;
}

footer ul {
list-style: none;
padding-left: 5px;
float: right;
}

footer li {
display: inline-block;
padding: 10px 10px;
}
  